<div class = "right-btn-container" ng-class = "{'show': showFeedback}">
    <input type="button" class ="feedback-btn" ng-click = "showFeedback = !showFeedback">
    <div class = "feedback" ng-class = "{'show': showFeedback}">
        <div class="close" ng-click = "showFeedback = false"><h3>X</h3></div>
        <div class="col-2 controllers">
          <div class = "prev" ng-click = "prev()"><p>	&#60; Prev</p></div>
          <div class = "save" ng-click = "save()"><p>Send</p></div>
          <div class = "next" ng-click = "next()"><p>Next &#62;</p></div>
        </div>
        <div id="one" class ="col-12 question visible">
          <div class = "col-12 title">Was this helpful to you?</div>
          <div class="col-6 ratings">
            <div class="rating" ng-repeat="star in stars" ng-class="{'checked': star.checked}" ng-init="star.checked = false" >
              <input type="checkbox" ng-model="star.checked" value="{{star.id}}">
              <span ng-click = "star.checked = !star.checked; onRating($index)" class="star" name = "{{star.id}}"></span>
              <p>{{star.label}}</p>
            </div>
          </div>
        </div>
        <div id="two" class ="col-12 question">
          <div class = "col-12 title">Suggestions:</div>
            <textarea maxlength="120" placeholder="< Add Text Here >" draggable="false"></textarea>
        </div>
    </div>
</div>
