<div class="col-12 wrapper welcome about">
  <div class="col-4 title"><h1>Stop chasing!</h1></div>
  <div class = "col-6 subtitle"><h2> You &nbsp</h2><h1> Hit &nbsp</h1> <h2> the &nbsp</h2> <h1> SPOT: </h1>
  <h3>
    <p>This is where you will find all the articles related with Room Renting
      in AMSTERDAM from public facebook groups.
      Either you seek or you offer, find all you need in
      one single page. </p>
    </h3>
  </div>
  <h3 class = "slogan">Stay in one place to find the best place.</h3>
</div>
