*{
  box-sizing: border-box;
}
body{
  width: 100%;
	height: auto;
  font-family: 'helvetica neue',helvetica,arial,'lucida grande',sans-serif;
  -webkit-font-smoothing: antialiased;
  margin:0;
  padding: 0;
  background: #FFF;
  color: black;
	padding: 0;
	z-index: -1;
  overflow: hidden;
  transition: 0.2s;
}
h1 {
  font-family: 'helvetica neue',helvetica,arial,'lucida grande',sans-serif;
  -webkit-font-smoothing: antialiased;
	font-size: 48px;
	font-style: normal;
	font-variant: normal;
	font-weight: bolder;
	line-height: 26.4px;
}
h2{
  font-family: 'helvetica neue',helvetica,arial,'lucida grande',sans-serif;
  -webkit-font-smoothing: antialiased;
	font-size: 36px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 26.4px;
}
h3 {
  font-family: 'helvetica neue',helvetica,arial,'lucida grande',sans-serif;
  -webkit-font-smoothing: antialiased;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
h4 {
  font-family: 'helvetica neue',helvetica,arial,'lucida grande',sans-serif;
  -webkit-font-smoothing: antialiased;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
h5 {
  font-family: 'helvetica neue',helvetica,arial,'lucida grande',sans-serif;
  -webkit-font-smoothing: antialiased;
	font-size: 8px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p {
  font-family: 'helvetica neue',helvetica,arial,'lucida grande',sans-serif;
  -webkit-font-smoothing: antialiased;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
div{
  display: block;
  margin: auto;
  overflow: hidden;
}
input{
  font-size: 18px;
  border: 1px solid #CCC;
  border-radius: 5px;
  font-family: 'helvetica neue',helvetica,arial,'lucida grande',sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  cursor: pointer;
}
a{
  cursor: pointer;
  list-style: none;
  text-decoration: none;
  color: black;
}
input[type = "checkbox"]{
  display: none;
}
ul{
  padding: 0;
  list-style-type: none;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.col-nav{width: 25%; left: -25%;}

@media only screen and (max-width: 780px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100% !important;
    }
    .navbar ul li{
      width: 20%;
    }
    .feed .post{
      padding: 0;
    }

}

.navbar{
  position: fixed;
  z-index: 50;
  display: block;
  margin: 0 auto;
  text-align: center;
  top: 0;
  height: 70px;
  background: rgba(255, 255, 255, 0);;
}
.navbar ul{
  display: block;
  height: 100%;
  width: auto;
  z-index: 60;
  margin: 0 auto;
}
.navbar ul div{
  width: 150px;
  height: 100%;
  z-index: 100;
  display: inline-block;
}
.navbar ul li{
  width: 100%;
  height: 100%;
  padding: 20px;
  cursor: pointer;
  vertical-align: middle;
  color: white;
  transition: 0.2s;
}
.navbar ul a{
  width: auto;
  height: 100%;
  z-index: 90;

}
.navbar ul li.selected{
  transform: scale(1.2);
  font-weight: 500;
  background:#4080ff;
  color: white;
  border: 1px 1px 1px #F5F5F5;
}
.navbar .fb-login-button{
  text-align: center;
  float: right;
  top: 20px;
  right: -10px;
  max-width:90px;
  z-index: 110;
  position: fixed;
}

.navbar .fb-login-button.logged{
  top: -20px;
  right: -15px;
}

.wrapper{
  height: auto;
  min-height: 100%;
  display: block;
  z-index: 1;
  padding: 0;
  position: absolute;
}

.welcome{
  background: url("images/bkg-hd-test.jpg");
  background-size: cover;
  color: white;
  display: block;
  position: fixed;
  text-align: left;
  z-index: 2;
  padding-top: 100px;
}
.welcome h1, h2{
  display: inline-block;
}
.welcome .title{
  text-align: center;
}
.welcome .subtitle{
  margin-top: 100px;
  margin-left: 16.66%;
}
.welcome .subtitle h3 p{
  color: #FFF;
  font-weight: 400;
}
.welcome .subtitle h1, h2 {
  padding-top: 4px;
  min-height: 46px;
  height: auto;
  margin: 0;
  /*color: #4080ff;*/
}
.welcome .slogan{
  font-weight: 600;
  text-align: center;
  margin: 100px auto;
}

.feed{
  z-index: 4;
  position: absolute;
  padding: 5px;
  margin-top: 100%;
  background: #FFF;
  height: 100%;
  overflow: scroll;
  text-align: center;
}

.requests h1, .offers h1 {
  margin-top: 100px;
}

.offers, .requests{
  display: block;
  height: auto;
  margin: 0 auto;
  z-index: 5;
}

.requests, .requests>.fb-post{
  display: none;
}

.feed .post{
  display: inline-block;
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: 1px solid #CCC;
  text-align: left;
  background: #F5F5F5;
  border: 1px solid #CCC;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.feed .stats{
  display: inline-block;
  height: auto;
  margin: 0 auto;
  padding-right: 5px;
  color: #C2C2C2;
}
.feed .load{
  width: 120px;
  height: 50px;
  border-radius: 5px;
  background: #4080FF;
  border: 1px solid #0A60C5;
  box-shadow: inset 0px -1px 2px 0px rgba(0,0,0,0.50);
}
@media only screen and (max-width: 780px) {
    /* For mobile phones: */
    .feed{
      margin-top: 200%;
    }
    .navbar ul li.selected{
      transform: scale(1);
      font-weight: bolder;
    }
    .navbar ul li{
      text-align: center;
      padding-top: 25px;
      font-size: 14px;
    }
    .navbar ul div{
      float: left;
      width: 33.3%;
      overflow: visible;
    }
    .navbar .fb-login-button.logged{
      display: none;
    }

    .welcome .subtitle{
      margin: 0;
      text-align: center;
    }
    .welcome .slogan{
      margin-top: 50px;
    }
    .feed .post{
      padding: 0;
    }


}
